<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="Sylvain Cavalier - Développeur Web">
    <meta property="og:description" content="Portfolio de Sylvain Cavalier, développeur Ruby on Rails et Vue.js.">
    <meta property="og:image" content="https://asset.cloudinary.com/dhemegutt/3d95ccd83f30cb120b70e949151b7f28">
    <meta property="og:url" content="https://www.sylvaincavalier.com">
    <meta name="twitter:card" content="summary_large_image">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
    <%= vite_javascript_tag 'application', type: 'module', data: { "turbo-track": "reload" } %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>

  <body>
    <div id="app"></div>
    <div id="language-transition" class="language-transition hidden">
      <div class="column" v-for="i in 5" :key="i"></div>
    </div>
  </body>
</html>